trunk/Status.xcodeproj/project.xcworkspace/xcshareddata/Status.xccheckout
trunk/Status.xcodeproj/project.xcworkspace/xcuserdata/bursyllac.xcuserdatad/UserInterfaceState.xcuserstate
trunk/Status.xcodeproj/xcuserdata/bursyllac.xcuserdatad/xcschemes/Status.xcscheme
trunk/Status.xcodeproj/xcuserdata/bursyllac.xcuserdatad/xcschemes/xcschememanagement.plist
